<div class="container">
	<div class="logincard">
		<div class="logincard-image">	
			<h2 class="logincard-heading">
				Get started
				<small>Create your account</small>
			</h2>
		</div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: 'logincard-form') do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="input">
        <%= f.label :email, class: "input-label" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input-field" %>
      </div>

      <div class="input">
        <%= f.label :password, class: "input-label" %>
        <% if @minimum_password_length %>
        <em id="condition">(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "input-field" %>
      </div>

      <div class="input">
        <%= f.label :password_confirmation, class: "input-label" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input-field" %>
      </div>

      <div class="action">
        <%= f.submit "Sign up", class: "action-button" %>
      </div>
    <% end %>

		<div class="logincard-info">
			<%= render "devise/shared/links" %>
		</div>
	</div>
</div>

