
<%= form_with(model: booking, local: true) do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2> La reserva no se pudo enviar, revisa los siguientes errores: </h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <% dates = disabled_dates(params["cabin_id"]) %> 


  <div>

    <div id="calendarfield", class="calendarinput">
      <%= form.label :Fechas, class: 'input-label' %>
      <%= form.text_field :dates, id: 'flatpickr-capybara-selector-dates',
        data: {
          controller: "flatpickr",
          flatpickr_date_format: "d/m/Y",
          flatpickr_min_date: Time.zone.now,
          flatpickr_mode: "range",
          flatpickr_disable: dates,
          flatpickr_inline: true,
          flatpickr_allow_input: true
        }, class: 'bookinginput-field' %>
    </div>

    <div class="bookingfields">
      <div class="input">
        <%= form.label :name, class: 'input-label' %>
        <%= form.text_field :name, class: 'bookinginput-field' %>
      </div>

      <% if current_user %>
        <div class="input">
          <%= form.label :contact_email, class: 'input-label' %>
          <%= form.text_field :contact_email, :value => current_user.email, class: 'bookinginput-field' %>
        </div>
      <% else %>
        <div class="input">
          <%= form.label :contact_email, class: 'input-label' %>
          <%= form.text_field :contact_email, class: 'bookinginput-field' %>
        </div>
      <% end %>
    

      <%= form.hidden_field :cabin_id, value: (params["cabin_id"]) %>

      <div class="action">
        <%= form.submit :Agendar, class: "bookingsubmit" %>
      </div>
    </div>
  </div>

<% end %>
