<%= form_with(model: booking, local: true) do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <% dates = disabled_dates(params["cabin_id"]) %> 


  <div>
    <div class="calendarfield">
      <%= form.text_field :dates,
        data: {
          controller: "flatpickr",
          flatpickr_date_format: "d/m/Y",
          flatpickr_min_date: Time.zone.now,
          flatpickr_mode: "range",
          flatpickr_disable: dates,
          flatpickr_inline: true
        }, class: 'bookingcalendar' %>
    </div>

    <div class="bookingfields">
      <div class="bookingfield">
        <%= form.label :name, class: 'bookinglabel' %>
        <%= form.text_field :name, class: 'bookingform' %>
      </div>

      <% if current_user %>
        <div class="bookingfield">
          <%= form.label :contact_email, class: 'bookinglabel' %>
          <%= form.email_field :contact_email, :value => current_user.email, class: 'bookingform' %>
        </div>
      <% else %>
        <div class="bookingfield">
          <%= form.label :contact_email, class: 'bookinglabel' %>
          <%= form.email_field :contact_email, class: 'bookingform' %>
        </div>
      <% end %>
    

      <%= form.hidden_field :cabin_id, value: (params["cabin_id"]) %>

      <% if current_user %>
        <%= form.hidden_field :user_id, value: current_user.id %>
      <% else %>
        <%= form.hidden_field :user_id, value: 1 %>
      <% end %>

      <div class="actions">
        <%= form.submit :Agendar, class: "bookingsubmit" %>
      </div>
    </div>
  </div>

<% end %>
