<p id="notice"><%= notice %></p>

<h1 class="title">Tus reservas</h1>

<div class="bookings-layout">
  <% @bookings.each do |booking| %>
    <% if booking.user_id == current_user.id%>

      <% cabin = Cabin.find_by(id: booking.cabin_id)%>

      <div class="booking-item">

        <% if cabin.image.attached?%>
          <%= image_tag(cabin.image, class: "booking-image") %>
        <% end %>
 
        <div class="booking-info">
          <p class="booking-title"> <%= cabin.name %> </p>
          <div>
            <p class="booking-label"> Desde: </p>
            <p class="booking-date"> <%= booking.start_date.to_date.to_s(:long) %> </p>
          </div>
          <div>
            <p class="booking-label"> Hasta: </p>
            <p class="booking-date"> <%= booking.end_date.to_date.to_s(:long) %> </p>
          </div>
          <div class=booking-button>
            <%= link_to 'Cancel', booking, method: :delete, data: { confirm: 'Are you sure?' }, class: "booking-cancel" %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<br>

<%# <%= link_to 'New Booking', new_booking_path %> 

<%# <%= link_to 'Show', booking %>
<%# <%= link_to 'Edit', edit_booking_path(booking) %>