<%= form_with(model: contact, local: true, class: 'contact-form') do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2> La informacion de contacto no se pudo enviar, revisa los siguientes errores: </h2>
      <% contact.errors.full_messages.each do |message| %>
        <p id="error_message"><%= message %></p>
      <% end %>
    </div>
  <% end %>

  <% puts flash[:data] %>

  <div class="input">
    <%= form.label :rut, class: 'input-label' %>
    <%= form.text_field :rut, class: 'bookinginput-field', id:'rutfield' %>

  </div>

  <div class="input">
    <%= form.label :email, class: 'input-label' %>
    <% if (params['email']) %>
      <%= form.email_field :email, :value => (params['email']), class: 'bookinginput-field' %>
    <% else %>
      <%= form.email_field :email, class: 'bookinginput-field' %>
    <% end %>
  </div>

  <div class="input">
    <%= form.label :info, class: 'input-label' %>
    <%= form.text_area :info, class: 'bookinginput-field' %>
  </div>

  <%= form.hidden_field :booking_id, value: (params['booking_id']) %>

  <%= form.hidden_field :name, value: (params['name']) %>

  <div class="action">
    <%= form.submit :Enviar, class:"bookingsubmit" %>
  </div>
<% end %>
