<p id="notice"><%= notice %></p>

<p>
  <strong>Rut:</strong>
  <%= @contact.rut %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Info:</strong>
  <%= @contact.info %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
