<h2>Log in</h2>

<div class="container">
	<div class="logincard">
		<div class="logincard-image">	
			<h2 class="logincard-heading">
				Get started
				<small>Let us create your account</small>
			</h2>
		</div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'logincard-form') do |f| %>
      <div class="input">
        <%= f.label :email, class: "input-label" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input-field" %>
      </div>

      <div class="input">
        <%= f.label :password, class: "input-label" %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "input-field" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", class: "action-button" %>
      </div>
    <% end %>

		<div class="logincard-info">
			<%= render "devise/shared/links" %>
		</div>
	</div>
</div>

